body {
    width: 95%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 200px;
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header  p{
    color: darkblue;
    text-align: center;
    font-weight: bold;
}
header img{
    position: absolute;
    top: 11%;
    right: 33%;
}
.title{
    font-size: 300%;
}
.title1{
    font-size: 240%;
}
.vlucht{
    float: right;
    width: 25%;
    background-color: #dddddd;
    border: 1px solid #999999;
}

.vlucht p{
    color: #666666;
    font-size: 90%;
    margin: 10px;
}
.vlucht h3{
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 120%;
}
main{
    width: 75%;
    margin: 10px 10px 0 0;
}
.introduction{
    background-color: white;
    color: black;
}
.introduction span{
    color: blue;
    font-weight: bold;
}
.introduction p{
    position: relative;
    top: 20px;
    bottom: 20px;
    right: 30px;

}
.logo{
    float: left;
    position: relative;
    top: 20px;
    left: 20px;
    right: 20px;
    margin-right: 100px;
    margin-bottom: 20px;
}
.foto{
    margin: 10px;
    padding: 0;
    display: inline-block;

}
.foto img{
    border: 1px dotted white;
    padding: 10px;
    background-color: white;
}
.gallery{
    background-color: gray;
    width: 64%;
    margin: 30px 0 0 0;
    padding: 20px;
}
.bottom {
    display: flex;
    background-color: #666666;
    color: white;
    padding: 20px;
    line-height: 2em;
}

.bottom a:hover{
    color: red;
}

.bottom ul {
    padding: 0;
    margin-left: 120px;
    margin-right: 120px;

}

.bottom ul li {
    margin-bottom: 10px;
}

.bottom ul li ul {
    margin-left: 20px;
}

.bottom ul li a {
    color: #ffffff;
    text-decoration: underline;
}

.bottom ul li a:hover {
    color: red;
}
footer {
    text-align: center;
    color: black;
    padding: 10px;
}