.checklist {
    padding-left: 0;
}

.checklist li {
    padding-left: 25px;
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 1.5;
}


.checklist li.checked{
    background-image: url("../Icon/Checked.svg");
}
.checklist li:not(.checked){
    background-image: url("../Icon/Unchecked.svg");
}