body{
    margin: 0;
}

.spacing {
    display: flex;
    margin: 0;
    position: relative;
    left: 0;
    top: 0;

}

.kolom {
    width: 50%;
    padding: 10px;
    margin: 10px;

    border: 1px solid black;
}